<!--Language-->
<i18n>
{
  "en": {
    "containers": "edit",
    "add-remove-items": "add/remove items"
  },
  "fr": {
    "edit": "editer",
    "add-remove-items": "ajout/supp objets"
  }
}
</i18n>

<!--Template-->
<template lang="pug">

v-layout.ma-2
  v-flex(xs12).item
    v-card
      v-layout
        v-flex(xs1)
          v-responsive(
            height="125px"
            contain
          )
            .qrcode.ma-2
              QrcodeVue(:value="item.code.id", level="L")
        v-flex(xs7)
          v-card-title(primary-title)
            div
              div.headline.loc(v-if="item.code.iata")
                span.iata {{item.code.iata.iata}}
                |&nbsp;
                |(
                span.city {{item.code.iata.city}}&nbsp;-&nbsp;
                span.country {{item.code.iata.country}}
                |)
              div.headline {{item.title}}
              div {{item.description}}
      v-divider(dark)
      v-card-actions
        v-spacer

        v-btn {{$t('edit')}}
        v-btn(color="primary") {{$t('add-remove-items')}}

</template>

<script>

import QrcodeVue from 'qrcode.vue';

export default {
  name: 'ContainerDisplay',
  props: {
    item: {},
  },
  components: {
    QrcodeVue,
  },
  computed: {

  },
};
</script>

<style scoped lang="css">
.qrcode{
  float: left;
}
</style>
