<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">

v-layout.ma-2
  v-flex(xs12).item
    v-card
      v-layout
        v-flex(xs1)
          v-card-media(
            height="125px"
            contain
          )
            .qrcode.ma-2
              QrcodeVue(:value="'box://'+(item.idmeta?item.idmeta.iata : item.id)", level="L")
        v-flex(xs7)
          v-card-title(primary-title)
            div
              div.headline.loc(v-if="item.idmeta")
                span.iata {{item.idmeta.iata}}
                |&nbsp;
                |(
                span.city {{item.idmeta.city}}&nbsp;-&nbsp;
                span.country {{item.idmeta.country}}
                |)
              div.headline {{item.label}}
              div {{item.description}}
      v-divider(dark)
      v-card-actions
        v-spacer

        v-btn {{$t('edit')}}
        v-btn(color="primary") {{$t('add-remove-items')}}

</template>

<script>

import QrcodeVue from 'qrcode.vue';

export default {
  name: 'ContainerDisplay',
  props: {
    item: {},
  },
  components: {
    QrcodeVue,
  },
  computed: {

  },
};
</script>

<style scoped lang="css">
.qrcode{
  float: left;
}
</style>
