<!--Language-->
<i18n>
{
  "en": {
    "edit-container": "Edit container",
    "container-details": "Container details",
    "title": "Title",
    "type": "Type",
    "save": "save",
    "identification": "Identification"
  },
  "fr": {
    "edit-container": "Editer un conteneur",
    "container-details": "Details du conteneur",
    "title": "Titre",
    "type": "Type",
    "save": "creer",
    "identification": "Identification"
  }
}
</i18n>

<!--Template-->
<template lang="pug">

v-dialog(v-model="dialog" persistent max-width="550px")
  v-card

    v-toolbar(color="primary")
      v-btn(icon @click="cancel")
        v-icon close
      v-toolbar-title {{$t('edit-container')}}
      v-spacer
      v-toolbar-items
        v-btn(flat :disabled="!valid || savingContainer" @click="submit") {{$t("save")}}
    v-progress-linear.toto(
      v-show="savingContainer"
      color="primary"
      height="5",
      :indeterminate="true"
    )
    v-form(ref="form" v-model="valid" lazy-validation)
      v-alert.toto(
        v-model="savingError"
        dismissible
        type="error"
      )
        |This is an error alert that is closable.

      v-list(avatar dense flat two-line subheader)
        v-subheader {{$t('container-details')}}
        v-list-tile
          v-autocomplete(
            v-model="type"
            :items="types"
            :rules="[v => !!v || 'Type is required']"
            :label="$t('type')"
            required
          )
        v-list-tile
          v-text-field(
            v-model="title"
            :rules="titleRules"
            :counter="256"
            :label="$t('title')"
            ref="title"
            required
            clearable
          )
      v-divider
      v-list(avatar dense flat subheader)
        v-subheader {{$t("identification")}}
        v-btn(absolute fab right color="info" @click.native="newid()" icon)
          v-icon refresh
        IataIdentification(
          :qrsize="200"
          :qrprefix="'box://'"
          v-model="iata"
        )

</template>

<script>


import {mapState,mapMutations  } from 'vuex';

import IataIdentification from './IataIdentification.vue';

export default {
  props: {
    dialog: {
      default: false
   }
  },
  data: () => ({
    qrvalue: '',
    qrsize: 300,
    iata: false,
    valid: false,
    title: '',
    titleRules: [
      v => !!v || 'Title is required',
      v => (v && v.length <= 256) || 'Title must be less than 256 characters',
    ],
    type: 'Boite',
    types: [
      'Lieu',
      'Piece',
      'Etagere',
      'Caisse',
      'Boite',
      'Sac',
      'Sachet',
      'Tiroir',
    ],
  }),
  created() {
  },
  watch: {
    dialog(val) {
      console.log(val);
      if (val) {
        this.$nextTick(this.$refs.title.focus);
      }
    },
  },
  computed: mapState('containers', [
    'savingContainer',
    'savingError'
  ]),
  methods: {
    submit() {

      if (!this.$refs.form.validate()) { return; }
      var self = this;
      this.$store.dispatch("containers/addContainer", {
        id: self.iata.qrvalue,
        iata: self.iata.iata,
        containertype: self.type,
        title: self.title
      });
    },
    cancel() {
      this.$store.dispatch('containers/closeDialog');
      this.$emit('update:dialog', false);
    }
  },
  components: {
    IataIdentification,
  },
};
</script>

<style lang="stylus">
.toto
  margin-top: 0px
</style>
