<!--Template-->
<template lang="pug">
div(class="iatadisplay elevation-3 ma-4 pa-4")
  div(v-if="isLoaded")
    div(class="qrcode text-xs-center")
      qrcode-vue(:value="qrvalue" :size="qrsize" level="L")
    div(class="iata text-xs-center") {{value.iata}}
    div(class="location text-xs-center")
      span(class="city") {{value.city}}
      |,&nbsp;
      span(class="country") {{value.country}}
  div(v-else class="loader text-xs-center")
    v-progress-circular(
      :size="70"
      :width="7"
      color="purple"
      indeterminate
    )

</template>

<!--Script-->
<script>

import QrcodeVue from 'qrcode.vue';

export default {
  name: 'IataIdentification',
  props: [
    'qrsize',
    'qrprefix',
    'value'
  ],
  components: {
    QrcodeVue,
  },
  computed: {
    isLoaded() {
      return this.value.iata;
    },
    qrvalue() {
      return this.value.qrvalue=`${this.qrprefix||"iata://"}${this.value.iata}`;
    }
  },
};
</script>

<!-- Style -->
<style scoped lang="css">
.iata{
  font-size: 4em;
}
.city{
  font-size: 1.5em;
}
.country{
  font-size: 1em;
}
.location{
  vertical-align: middle;
  line-height: 2em;
}
</style>
