<!--Language-->
<i18n>
{
  "en": {
    "create-item": "Create item",
    "item-details": "item details",
    "title": "Title",
    "title-rules-required": "Title is required",
    "title-rules-length": "Title must be less than 256 characters",
    "type": "Type",
    "save": "save",
    "identification": "Identification"
  },
  "fr": {
    "create-item": "Referencer un objet",
    "item-details": "Details de l'objet",
    "title": "Titre",
    "title-rules-required": "Titre requis",
    "title-rules-length": "Le titre doit faire moins de 256 caracteres",
    "description": "Description",
    "type": "Type",
    "save": "creer",
    "identification": "Identification"
  }
}
</i18n>

<!--Template-->
<template lang="pug">

v-dialog(v-model="dialog" persistent max-width="840px")


  v-card
    v-toolbar(color="primary")
      v-btn(icon @click="cancel")
        v-icon close
      v-toolbar-title {{$t('create-item')}}
      v-spacer
      v-toolbar-items
        v-btn(flat :disabled="!valid" @click="submit") {{$t("save")}}

    v-container(fluid)
      v-form(ref="form" v-model="valid" lazy-validation)

        v-list(avatar flat two-line)
          v-list-tile
            v-text-field(
              v-model="title"
              :rules="titleRules"
              :counter="256"
              :label="$t('title')"
              ref="title"
              required
              clearable
            )
          v-list-tile
            v-autocomplete(
              v-model="type"
              :items="types"
              :rules="[v => !!v || 'Type is required']"
              :label="$t('type')"
              required
            )

          v-list-tile
            v-combobox(
              v-model="chips"
              :items="items"
              label="Tags"
              chips
              clearable
              flat
              multiple
            )
              template(slot="selection" slot-scope="data")
                v-chip(
                  :selected="data.selected"
                  close
                  @input="removeTag(data.item)"
                  outline label dense
                  color="primary"
                  small
                )
                  div {{ data.item }}



        toggle-accordion-content(label="identification" icon="fa-info" colorq="info")

          span(slot="title") identification

          v-btn(absolute fab right color="info" @click.native="newid()" icon)
            v-icon refresh
          NameIdentification(
            :qrsize="200"
            :qrprefix="'item://'"
            v-model="name"
          )



        toggle-accordion-content(label="details" icon="fa-info" colorq="info")

          span(slot="title") details

          v-textarea(
            v-model="description"

            :counter="1024"
            :label="$t('description')"
            ref="description"

            clearable
          )

        toggle-accordion-content(
          label="photos"
          icon="fa-camera"
          colorq="amber"
        )
          div(slot="title") photos
          UiPictureAttachments(
            :pictures="pictures"
            :selected="selectedPicture"
          )


        toggle-accordion-content(label="quantites" icon="fa-calculator" colorq="cyan")
          span(slot="title") quantites
          | Content quantifiable

        toggle-accordion-content(label="nourriture" icon="fastfood" empty colorq="lime")
          div(slot="title") nourriture

        toggle-accordion-content(
          label="perissable"
          icon="fa-calendar-times"
          colorq="amber"
        )
          div(slot="title") perissable
          v-container(grid-list-xs)
            v-layout(row wrap)
              v-flex(xs4)
                v-text-field(
                  name="perissabledluo"
                  type="date"
                  v-model="perissable.dluo"
                  :label="$t('dluo')"
                )
              v-flex(offset-xs2 xs6)
                v-switch(
                  label="Alerte dluo depasse"
                  v-model="perissable.dluo.alert"
                  color="orange"
                )
            v-layout(row wrap)
              v-flex(xs4)
                v-text-field(
                  name="perissabledlc"
                  type="date"
                  v-model="perissable.dlc"
                  :label="$t('dlc')"
                )
              v-flex(offset-xs2 xs6)
                v-switch(
                  label="Alerte dlc depasse"
                  v-model="perissable.dlc.alert"
                  color="orange"
                )

        toggle-accordion-content(
          label="recipient"
          icon="fa-fill"
          colorq="brown"
          :value="reservoir"
        )

          div(slot="title") recipient

          v-container(grid-list-xs)
            v-layout(row wrap)

              v-flex(xs4)
                v-text-field(
                  name="reservoircontenance"

                  v-model="reservoir.contenance"
                  :rules="[v => !!v || 'Contenance is required']"
                  :label="$t('contenance')"
                  required
                  mask="#########"
                )

              v-flex(offset-xs2 xs4)
                v-select(
                  name="reservoirunit"
                  v-model="reservoir.unit"
                  :items="units"
                  :rules="[v => !!v || 'Unit is required']"
                  :label="$t('unit')"
                  required
                )
            v-layout(row wrap)

              v-flex(ma-0 xs4)
                v-text-field(
                  name="reservoircontenance"

                  v-model="reservoir.contain"
                  :rules="[v => !!v || 'Contenance is required']"
                  :label="$t('contient')"


                  mask="#########"
                  :suffix="reservoir.unit"
                )

            v-layout(row wrap)
              v-flex(xs4)
                v-text-field(
                  name=""
                  v-model="reservoir.alert.min.value"
                  label="minimum"
                  mask="#########"
                  :suffix="reservoir.unit"
                )
              v-flex(offset-xs2 xs4)
                v-switch(
                  label="Alerte seuil contenance"
                  v-model="reservoir.alert.min.enabled"
                  color="orange"
                )


            v-layout(row wrap)

              v-flex(xs4)
                v-text-field(
                  name=""

                  v-model="reservoir.alert.max.value"
                  label="maximum"
                  mask="#########"
                  :suffix="reservoir.unit"
                )

              v-flex(offset-xs2 xs4)
                v-switch(
                  label="Alerte plafond contenance"
                  v-model="reservoir.alert.max.enabled"
                  color="orange"
                )

        toggle-accordion-content(label="documents", icon="description" colorq='teal')
          div(slot="title") documents
          | Contenu documents
        toggle-accordion-content(label="localisation", icon="explore" colorq='silver')
          span(slot="title") localisation
          | Contenu localisation


</template>

<script>

import NameIdentification from './NameIdentification.vue';

import ToggleAccordionContent from '../ui/ToggleAccordionContent.vue';
import ToggleAccordionPanel from '../ui/ToggleAccordionPanel.vue';
import UiPictureAttachments from '../ui/UiPictureAttachments.vue';
import UiFileAttachments from '../ui/UiFileAttachments.vue';

export default {
  props: {
    dialog: {
      default: false
    }
  },
  data: () => ({
    qrvalue: '',
    qrsize: 300,
    code: '3XVZ8',
    name: false,
    valid: false,
    title: 'Un titre',
    titleRules: [
      v => !!v || this.$i18n.t('title-rules-required'),
      v => (v && v.length <= 256) || this.$i18n.t('title-rules-length'),
    ],
    type: 'Consommable',
    types: [
      'Consommable',
      'Objet unique',
      'Objet divers',
      'Collection',
    ],
    perissable: {
      dluo: {
        date: null,
        alert: false,
      },
      dlc: {
        date: null,
        alert: false,
      },
    },
    reservoir: {
      contenance: 10,
      contain: 5,
      unit: 'Litres',
      alert: {
        min: {
          value: 1,
          enabled: true,
        },
        max: {
          value: '',
          enabled: false,
        },
      },
    },
    units: ['Litres', 'm3'],
    description: 'une description avec du contenu a la con \nDum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.',
    chips: ['tag1', 'tag2', 'tag3', 'tag4'],
    items: ['tag1', 'tag2', 'tag3', 'tag4'],
    isConsommable: false,
    isUnique: false,
    collectionId: null,
    metadata: {},
    pictures: [
      {
        url: 'https://i.imgur.com/SsOl6MX.png',
        filename: '1',
      },
      {
        url: 'https://i.imgur.com/iHDEGOw.png',
        filename: '2',
      },
      {
        url: 'https://i.imgur.com/rGNJCPo.png',
        filename: '3',
      },
      {
        url: 'https://i.imgur.com/VIGlZCC.png',
        filename: '4',
      },
      {
        url: 'https://i.imgur.com/Fq4BjS0.png',
        filename: '5',
      },
    ],
    selectedPicture: {
      url: 'https://i.imgur.com/rGNJCPo.png',
      filename: '1',
    },
    files: [
      {
        url: 'https://i.imgur.com/SsOl6MX.png',
        filename: 'file1.exe',
      },
      {
        url: 'https://i.imgur.com/iHDEGOw.png',
        filename: 'file2.pdf',
      },
      {
        url: 'https://i.imgur.com/rGNJCPo.png',
        filename: 'file3.avi',
      },
      {
        url: 'https://i.imgur.com/VIGlZCC.png',
        filename: 'file4.md',
      },
      {
        url: 'https://i.imgur.com/Fq4BjS0.png',
        filename: 'file5.txt',
      },
    ],
  }),
  created() {
    this.newid();
  },
  watch: {
    dialog(val) {
      console.log(val);
      if (val) {
        this.$nextTick(this.$refs.title.focus);
      }
    },
  },
  methods: {
    newid() {
      // this.iata=false;
      this.$axios
        .get('/api/items/getrandomname')
        .then((response) => {
          //this.qrvalue = `item://${name.firstname} ${name.lastname}`;
          this.name = response.data;
        })
        .catch((error) => {
          this.$store.dispatch('genericError', error);
        });
    },
    submit() {
      if (!this.$refs.form.validate()) { return; }

      this.saving = true;
      this.$axios
        .post('/api/containers/create')
        .then((response) => {
          console.log(response);
          this.saving = false;
          this.dialog = false;
          this.clear();
        })
        .catch((error) => {
          console.error(error);
          this.saving = false;
          this.$store.dispatch('genericError', error);
        });
    },
    cancel() {
      this.dialog=false;
      this.$emit('update:dialog', false);
    },
    clear() {
      this.$refs.form.reset();
      this.newid();
    },
    removeTag(item) {
      this.chips.splice(this.chips.indexOf(item), 1);
      this.chips = [...this.chips];
    },
  },
  components: {
    NameIdentification,
    ToggleAccordionContent,
    ToggleAccordionPanel,
    UiPictureAttachments,
    UiFileAttachments,
  },
};
</script>


<style>
.category-label {
  font-variant: small-caps;
  font-weight: bold;
   font-family: 'Archivo';
}
.category-switch .v-label {
  text-transform: capitalize;
  font-weight: lighter;
  font-family: 'Archivo';
}
</style>
