<i18n>
{
  "en": {
    "qty-left": "quantity left",
    "first-added": "date added",
    "edit": "edit",
    "move": "move",
    "add-remove": "add/remove"
  },
  "fr": {
    "qty-left": "quantite restante",
    "first-added": "date ajout",
    "edit": "editer",
    "move": "deplacer",
    "add-remove": "ajout/supp"
  }
}
</i18n>

<template lang="pug">

v-layout.ma-2
  v-flex(xs12).item
    v-card
      v-card-title
        .headline {{item.label}}
      v-divider(dark)
      v-layout(align-start)
        v-flex(xs1 justify-start).ma-3
          v-card-media(
            :src="item.picture"
            height="125px"
            contain
          )
        v-flex(xs7)

          v-breadcrumbs(divider=">")
            v-icon explore
            v-breadcrumbs-item(
              v-for="location in item.locations"
              :key="location"
            ) {{ location }}
          div
            div.headline {{item.description}}
            div {{$t('qty-left')}}: {{item.qty}}
            div {{$t('first-added')}} 2017
      v-divider(dark)
      v-card-actions
        v-spacer
        v-btn {{$t('edit')}}
        v-btn {{$t('move')}}
        v-btn(color="primary" v-text="$t('add-remove')")

</template>

<script>
export default {
  name: 'ItemDisplay',
  props: {
    item: {},
  },
  components: {

  },
  computed: {

  },
};
</script>

<style scoped lang="css">

</style>
