<!--Template-->
<template lang="pug">
div(class="namedisplay")
  div(v-if="isLoaded")
    div(class="qrcode text-xs-center")
      qrcode-vue(:value="qrvalue" :size="qrsize" level="L")

    v-combobox(
      v-model="value.firstname"
      label="First name"
      :items="firstnameentries"
      :readonly="false"
      :loading="isLoadingFirstNames"
      :search-input.sync="searchFirstName"
    )

    v-combobox(
      v-model="value.lastname"
      label="Last name"
      :items="lastnameentries"
      :readonly="false"
      :loading="isLoadingLastNames"
      :search-input.sync="searchLastName"
    )

  div(v-else class="loader text-xs-center")
    v-progress-circular(
      :size="70"
      :width="7"
      color="purple"
      indeterminate
    )
</template>

<!--Script-->
<script>

import QrcodeVue from 'qrcode.vue';

export default {
  name: 'NameIdentification',
  props: [
    'qrsize',
    'qrprefix',
    'value'
  ],
  data: () => ({
    descriptionLimit: 60,
    lastnameentries: [],
    firstnameentries: [],
    isLoadingFirstNames: false,
    isLoadingLastNames: false,
    searchFirstName: null,
    searchLastName: null
  }),
  components: {
    QrcodeVue,
  },
  computed: {
    qrvalue() {
      return `${this.qrprefix||"named://"}${this.value.firstname} ${this.value.lastname}`;
    },
    isLoaded() {
      return this.value.firstname&&this.value.lastname;
    }
  },
  watch: {
      searchFirstName (val) {
        // Items have already been loaded
        if (this.value.firstname.length < 1) return

        // Items have already been requested
        if (this.isLoadingFirstNames) return

        this.isLoadingFirstNames = true

        // Lazily load input items
        axios.get('/api/items/getfirstnamesstartingwith?start='+val)
          .then(res => {
            this.firstnameentries = res.data
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoadingFirstNames = false))
      },

      searchLastName (val) {
        // Items have already been loaded
        if (this.value.lastname.length < 1) return

        // Items have already been requested
        if (this.isLoadingLastNames) return

        this.isLoadingLastNames = true

        // Lazily load input items
        axios.get('/api/items/getlastnamesstartingwith?start='+val)
          .then(res => {
            this.lastnameentries = res.data
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoadingLastNames = false))
      }
    }
};
</script>

<!-- Style -->
<style scoped lang="css">
.iata{
  font-size: 4em;
}
.city{
  font-size: 1.5em;
}
.country{
  font-size: 1em;
}
.location{
  vertical-align: middle;
  line-height: 2em;
}
</style>
