<!--Language-->
<i18n>
{
  "en": {
    "containers": "no items | 1 container | {count} containers",
    "new-container": "new container"
  },
  "fr": {
    "containers": "pas de conteneurs | 1 conteneur | {count} conteneurs",
    "new-container": "nouv. conteneur"
  }
}
</i18n>


<!--Template-->
<template lang="pug">
  .containers
    create-container-modal(:dialog="dialog")
    v-toolbar
      v-toolbar-title
        v-icon folder
        | &nbsp;{{$tc("containers", containers.length, {count: containers.length})}}

      v-spacer
      v-btn(color="white" @click="getContainers" flat icon)
        v-icon refresh
      v-btn(color="primary" @click="openDialog" flat)
        v-icon add_box
        | &nbsp;{{$t("new-container")}}
    .containerlist.ma-2
      .loader.text-xs-center(v-if="loadingContainers")
          v-progress-circular(
            :size="70"
            :width="7"
            color="purple"
            indeterminate
          )

      ContainerDisplay(v-show="!loadingContainers" v-for="container in containers", :key="container.id", :item="container")

</template>

<!--Script-->
<script>

import { mapState, mapMutations } from 'vuex';

import ContainerDisplay from '../components/containers/ContainerDisplay.vue';
import CreateContainerModal from '../components/containers/CreateContainerModal.vue';
import EditContainerModal from '../components/containers/EditContainerModal.vue';

export default {
  data: () => ({
    snackbar: true,
  }),
  components: {
    ContainerDisplay,
    CreateContainerModal,
    EditContainerModal,
  },
  mounted() {
    this.getContainers();
  },
  computed: {
    ...mapState('containers', ['loadingContainers', 'containers', 'dialog', 'savingContainer']),
  },
  methods: {
    getContainer(container) {
      this.$store.dispatch('containers/fetchContainer', container);
    },
    getContainers() {
      this.$store.dispatch('containers/fetchContainers');
    },
    openDialog() {
      this.$store.dispatch('containers/openDialog');
    }
  }
};

</script>


<!--Style-->
<style scoped>
</style>
