<!--Language-->
<i18n>
{
  "en": {
    "events": "no event | 1 event | {count} events",
    "new-item": "new item"
  },
  "fr": {
    "events": "pas d'evenements | 1 evenement | {count} evenements",
    "new-item": "nouv. objet"
  }
}
</i18n>

<!--Template-->
<template lang="pug">
.events
  v-toolbar
    v-toolbar-title {{$tc("events",events.length, {count: events.length})}}
  .itemlist.ma-2
    EventDisplay(v-for="event in events", :key="event.id", :event="event")
</template>

<!--Script-->
<script>

import EventDisplay from '../components/items/ItemDisplay.vue';

export default {
  data: () => ({
    events: [],
  }),
  created() {
  },
  methods: {
  },
  components: {
    EventDisplay,
  },
};
</script>

<!--Style-->
<style scoped>
</style>
