<!--Language-->
<i18n>
{
  "en": {
    "items": "no items | 1 item | {count} items",
    "new-item": "new item"
  },
  "fr": {
    "items": "pas d'objets | 1 objet | {count} objets",
    "new-item": "nouv. objet"
  }
}
</i18n>

<!--Template-->
<template lang="pug">
.items
  create-item-modal(:dialog.sync="dialog")
  v-toolbar
    v-toolbar-title {{$tc("items",items.length, {count: items.length})}}
    v-spacer
    v-btn(color="primary"  @click.native="toggleCreation()"  flat outline)
      v-icon add_box
      | &nbsp;{{$t('new-item')}}
  .itemlist.ma-2
    ItemDisplay(v-for="item in items", :key="item.id", :item="item")
</template>

<!--Script-->
<script>

import CreateItemModal from '../components/items/CreateItemModal.vue';
import ItemDisplay from '../components/items/ItemDisplay.vue';
import dataFake from '../data/dataFake';

export default {
  data: () => ({
    dialog: false,
    items: dataFake.items,
  }),
  created() {
  },
  methods: {
    toggleCreation() {
      this.dialog = !this.dialog;
    },
  },
  components: {
    CreateItemModal,
    ItemDisplay,
  },
};
</script>

<!--Style-->
<style scoped>
</style>
