<template lang="pug">
.testfile
    h1 Test file attachements
    UiFileAttachments(
      :files="files"
    )
</template>


<!--Script-->
<script>

import UiFileAttachments from '../components/ui/UiFileAttachments.vue';

export default {
  data: () => ({
    files: [
      {
        url: 'https://i.imgur.com/SsOl6MX.png',
        filename: 'file1.exe',
      },
      {
        url: 'https://i.imgur.com/iHDEGOw.png',
        filename: 'file2.pdf',
      },
      {
        url: 'https://i.imgur.com/rGNJCPo.png',
        filename: 'file3.avi',
      },
      {
        url: 'https://i.imgur.com/VIGlZCC.png',
        filename: 'file4.md',
      },
      {
        url: 'https://i.imgur.com/Fq4BjS0.png',
        filename: 'file5.txt',
      },
    ],
  }),
  methods: {
  },
  components: {
    UiFileAttachments,
  },
};
</script>
