<template>
  <div class="about">
    <h1>Test picture attachements</h1>
    <UiPictureAttachments
      :pictures="pictures"
      :selected="selected"
    >
    </UiPictureAttachments>

  </div>
</template>


<!--Script-->
<script>

import UiPictureAttachments from '../components/ui/UiPictureAttachments.vue';

export default {
  data: () => ({
    pictures: [
      {
        url: 'https://i.imgur.com/SsOl6MX.png',
        filename: '1',
      },
      {
        url: 'https://i.imgur.com/iHDEGOw.png',
        filename: '2',
      },
      {
        url: 'https://i.imgur.com/rGNJCPo.png',
        filename: '3',
      },
      {
        url: 'https://i.imgur.com/VIGlZCC.png',
        filename: '4',
      },
    ],
    selected: {
      url: 'https://i.imgur.com/rGNJCPo.png',
      filename: '1',
    },
  }),
  methods: {
  },
  components: {
    UiPictureAttachments,
  },
};
</script>
