<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">
</template>

<!--Script-->
<script>
export default {
  data: () => ({
  }),
  methods: {
  },
  components: {
  },
};
</script>

<!--Style-->
<style scoped>
</style>
