<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">
  v-snackbar(
    v-model="snackbar"
    color="success"
  )
    |{{snackbar.text}}
</template>

<!--Script-->
<script>

import {mapState, mapMutations} from 'vuex';

export default {
  data: () => ({
    snackbar: false,
  }),
  computed: {
    ...mapState("snack",["snackbar,snacks"]),
    hasSnacksPending() {
      return this.snacks.length > 0
    },
  },
  watch: {
    snacks() {
      if(!this.snackbar && this.hasSnacksPending) {
        var snackbar = this.snacks.shift()
        this.$nextTick(() => this.snackbar=snackbar)
      }
    }
  },
  methods: {
    ...mapMutations("snack",["closeSnackbar"])
  }
};
</script>

<!--Style-->
<style scoped>
</style>
