<template lang="pug">
  v-app(dark :style="cssProps")
    v-navigation-drawer(
      v-model="drawer"
      persistent
      enable-resize-watcher
      fixednpm
      app
      clipped
      fixed
    )
      v-list
        v-list-tile(
          router
          v-for="(link, i) in items"
          :key="i"
          :to="link.to"
        )
          v-list-tile-action
            v-icon {{link.icon}}
          v-list-tile-title {{link.title}}
    v-toolbar(
      app
      fixed
      clipped-left
    )
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
      v-toolbar-title(v-text="title")
      v-spacer
      flag(iso="fr")
    v-content
       v-container(fluid)
        snackbar-store
        router-view
    v-footer(:fixed="fixed" app)
      span &copy; 2018
</template>

<script>

import snackbarStore from '@/components/SnackbarStore'

export default {
  name: 'App',
  components: {
    snackbarStore
  },
  computed: {
    cssProps() {
      return {
        '--primary-color': this.$vuetify.theme.primary,
      };
    },
  },
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'fa-home',
          title: 'Dashboard',
          to: '/',
        },
        {
          icon: 'fa-test',
          title: 'TestPictureAttachements',
          to: '/about',
        },
        {
          icon: 'fa-test',
          title: 'TestFileAttachements',
          to: '/testfileattachments',
        },
        {
          icon: 'fa-search',
          title: 'Recherche',
          to: '/search',
        },
        {
          icon: 'fa-warehouse',
          title: 'Stocks',
          to: '/stocks',
        },
        {
          icon: 'fa-shopping-cart',
          title: 'Commandes',
          to: '/orders',
        },
        {
          icon: 'fa-calendar-times',
          title: 'Perissable',
          to: '/perishables',
        },
        {
          icon: 'fa-folder',
          title: 'Conteneurs',
          to: '/containers/view',
        },
        {
          icon: 'fa-file',
          title: 'Objets',
          to: '/items/view',
        },
        {
          icon: 'fa-calendar-alt',
          title: 'Evenements',
          to: '/events/view',
        },

      ],

      title: 'Awesome Storage System',
    };
  },
};
</script>


<style lang="stylus">
html
  overflow-y: auto;
</style>
