<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">

div
  slot

</template>

<!--Script-->
<script>

export default {

  name: 'toggle-accordion-panel',

  data: () => ({
  }),

  methods: {
  },

  components: {
  },

};

</script>

<!--Style-->
<style scoped>
</style>
