<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">

v-container(pa-0 ma-0 fluid grid-list-xs)
  v-layout(row wrap align-center justify-end)
    v-flex(xs-6)
      v-switch.category-switch(
        :label="label",
        :prepend-icon="icon"
        v-model="value"
        color="primary"
        hide-details
      )
    v-flex(xs-6 justify-end v-show="value" class="text-xs-right")
      v-chip.category-label(
        label
        outline
        :color="colorq"
      )
        slot(name="title")

  div(v-if="!empty" v-show="value" class="elevation-2 pa-2 ma-2")
    slot


</template>

<!--Script-->
<script>
export default {

  name: 'toggle-accordion-content',
  props: {
    label: String,
    icon: String,
    empty: Boolean,
    colorq: String,
    //value: Boolean
  },
  data: () => ({
    value: false,
    label: '',
    icon: false,
    empty: false,
    colorq: '',
  }),

  methods: {
  },

  components: {
  },

};
</script>

<!--Style-->
<style lang="stylus" scoped>
h2
  font-family: "Archivo" !important
  text-transform: capitalize
</style>
