<!--Language-->
<i18n>
{
  "en": {
  },
  "fr": {
  }
}
</i18n>

<!--Template-->
<template lang="pug">
div
  v-container(fluid dense pa-1)
    v-layout(row wrap fill-height)

      v-flex.picture(
        xs2
        v-for="file in files"
        :key="file.url"
        fill-height
      )
        v-card.pa-2.ma-2(
          @mouseover=""
          @mouseleave=""
        )
          v-card-media(
            :src="file.url"
            height="78px"
          )
            v-container(
              pa-1
              fill-height
              v-show='hover(file)'
            )
              v-layout(align-end justify-end fill-height)
                v-flex.picheader(xs12 flexbox)
                  div(class="headline white--text") 3.47kb
          v-btn.test(
            v-show='hover(file)'
            v-model="fab"
            color="secondary"
            fab
            small
            absolute
            top
            right
          )
            v-icon menu
  v-container(fluid dense pa-1)
    v-layout(row align-center)
      v-flex(xs5)
        v-card
          vue-dropzone(
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
          )
      v-flex(xs2)
        div.text-xs-center ou
      v-flex(xs5)
        v-text-field(
          name="perissabledluo"
          type="url"
          label="url"
          v-bind:model='addFileUrl'
          clearable

          hint="http://"
        )
        v-btn(disabled) ajouter depuis url


</template>

<!--Script-->
<script>

import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';

export default {
  name: 'UiFileAttachments',
  props: {
    files: Array,
  },
  data: () => ({
    fab: false,
    addFileUrl: '',
    dropzoneOptions: {
      url: 'https://httpbin.org/post',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      headers: { 'My-Awesome-Header': 'header value' },
      previewTemplate: '<div/>',
      // dictDefaultMessage: "<div/>",
      // previewsContainer: ".dropzone-previews",
    },
  }),
  methods: {
    hoverPic(picture) {
      picture.hover = true;
    },
    hover(pic) {
      return pic.filename === '4.md';
    },
  },
  computed: {

  },
  components: {
    vueDropzone: vue2Dropzone,
  },
};
</script>

<!--Style-->
<style scoped lang="stylus">
.selected
  border: 3px solid var(--primary-color)
.test
  right: 8px
  margin-top: 32px;
.headline
  text-shadow: 1px 1px 3px white;
  text-transform uppercase
  font-family: "Rubik, Archivo"
  font-size: 14px !important
  font-weight: bold
  color: black !important
.picheader
  background-color: rgba(255,255,255,0.5)
  height : 40px;
  line-height : 40px;
  vertical-align : middle;
  padding-top: 2px;
#dropzone
  background-color : transparent
  border-color: var(--secondary-color)
</style>
